@use '@styles/tokens';

.skeletonWrap {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.marginTop {
    margin-top: 3rem;
}

.skeletonRow {
    height: 48px;
    background: linear-gradient(90deg,
            tokens.$gray-100 25%,
            tokens.$cream 50%,
            tokens.$gray-100 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
    border-radius: 8px;
}

@keyframes shimmer {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}