$primary-color: #4342FF;
$secondary-color: #070707;
$tertiary-color: #E8E9F3;
$quaternary-color: #3DDC97;
$quinary-color: #C03221;
$breakpoint-sm: '48em';
$breakpoint-md: '64em';

.main {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.content {
  overflow-y: auto;
  width: 100%;
}
