@use '../styles/globals';

.root {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  width: 100%;
}

.slideshow {
  box-sizing: border-box;
}

.imageContainer {
  position: relative;
  aspect-ratio: 4 / 3;
  min-height: 60px;
  min-width: 60px;
  height: auto;
  width: 100%;
}

.mainContent {
  margin: 0 1rem;
}