@use '../../styles/globals';

.root {
  box-sizing: border-box;
  display: flex;
  flex-flow: row;
  background: linear-gradient(-20deg, globals.$primary-color 55%, globals.$white-color 55%);
  align-items: center;
  padding: 0 5%;
  height: 100%;
  max-height: 3.75rem;
  box-shadow: var(--shadow-6);
  position: sticky;
  top: 0;
  z-index: 5;

  @media (max-width: globals.$breakpoint-sm) {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0 5%;
    background: linear-gradient(-70deg, globals.$primary-color 55%, globals.$white-color 55%);
  }
}

.imageContainer {
  position: relative;
  margin: .1rem;
  aspect-ratio: 1 / 1;
  min-height: 60px;
  min-width: 60px;
  height: 100%;
  width: auto;
}