@use '../../styles/globals';

.root {
  box-sizing: border-box;
  display: flex;
  flex-flow: row;
  background: linear-gradient(-20deg, globals.$primary-color 0%, globals.$primary-color 55%, globals.$white-color 55%, globals.$white-color  100%);
  align-items: center;
  padding: 0 5%;

  // @media (max-width: globals.$breakpoint-sm) {
  //  display: flex;
  //  align-items: center;
  //  width: 100%;
  //  justify-content: space-between;
  //  padding: 0 5%;
  // }
}