@use '@styles/tokens' as globals;

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: globals.$off-white;
}

.content {
  position: relative;
  z-index: 10;
  margin-top: -3rem; // overlap with hero arc
  padding-bottom: 5rem;
}

.contentInner {
  @include globals.content-section(2rem, 1rem);

  max-width: 1000px; // Constraint width since tables are too wide on huge screens
}
